* {
    box-sizing: border-box;
    font-family: monospace;
}

body {
    background-color: antiquewhite;
    min-height: 100vh;
}

.header-container {
    text-align: center;
    margin: 8px;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.game-box {
    display: flex;
    flex-wrap: wrap;
    border-radius: 8px;
    padding: 8px;
    gap: 1px;
    justify-content: stretch;
    align-items: stretch;
    background-color: saddlebrown;
    width: 480px;
    height: 480px;
}

.input-container {
    text-align: center;
    margin: 8px;
    flex: 1 1 auto;
}

#pixel {
    flex: 1 1 auto;
    width: 64px;
    border-radius: 2px;
    background-color: gold;
}
