* {
    box-sizing: border-box;
    font-family: monospace;
}

body {
    background-color: antiquewhite;
}

.header-container {
    text-align: center;
    margin: 8px;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.game-box {
    width: 480px;
    height: 480px;
    background-color: saddlebrown;
    border-radius: 8px;
}

.input-container {
    margin: 8px;
    flex: 0;
}